@CHARSET "UTF-8";
#basic {
	height: 50px;
	/* background:#FCF; */
	font-family:微软雅黑;
	font-size:14px;
}
#loginInformation{
	font-family:微软雅黑;
	font-size:14px;
}
#first {
	height: 20px;
	font-family:微软雅黑;
	font-size:14px;
}
#second {
	margin-top:5px;
	height: 20px;
	font-family:微软雅黑;
	font-size:14px;
}

#reply_content {
	width: 650px;	
	border: 2px solid #FCC;
	margin:auto;
	background:url(../images/sky.jpg); 
	font-family:微软雅黑;
	font-size:14px;
}
.fatie{
	width: 650px;	
	height:40px;
	/* background-color: #CEE; */
	margin:0px;
	border-bottom:1px dashed #66F; 
	
}
.fatie_button1{
	margin:10px;
	display:block;
	background-color:#999;
	width:100px;
	height:40px;
	text-align:center;
	line-height:40px;
	cursor:pointer;
}
#tiezi {
	
	/* background-color: #F96; */
	width: 650px;	
	height: 150px;	
	line-height:60px;
	/* margin-bottom:5px; */
	border-bottom:1px dotted #999;
}
#tiezi_left{
	float:left;
	width:120px;
	height:150px;
	text-align:center;
	border-right-style:dotted;
	border-right-width:1px;
	border-right-color:#666;
}
.adminImage{
	margin-top:10px;
	height:85px;
}
.name{
	height:25px;
	line-height:25px;
}
#tiezi_right{
	width:520px;
	float:left;
	height:150px;
}
#tiezi_content{
	/* padding-top:10px; */
	height:125px;
	line-height:30px;
	padding-left:20px;
}
#tiezi_date{
	height:25px;
	line-height:25px;
	padding-left:20px;
	border-top:1px dashed #999;
	border-bottom:1px dashed #66F; 
}
.reply{
	
	width: 650px;	
	height: 150px;
	/* background-color: #FF9; */
	/* margin-top:5px; */
	margin-bottom:5px;
	/* border-bottom:2px dashed #999; */
	
}
#pubReply {
	/* background-color: pink; */
	background-image: url(images/hui.jpg);
	background-repeat: repeat;
	width: 650px;	
	height: 370px; 
	bordder-top:1px solid ;
	bordder-bottom:1px solid ;
}
.pubReply_left{

	float:left;
	width:120px;
	height: 370px;
	line-height:100px;
	text-align:center;
	border-right:1px dotted;
	border-right-color:#999;
}
.pubReply_right{
	float:left;
	line-height:50px;
	height: 370px;
}
.floorNum{
	float:left;
	width:120px;
	height: 150px;
	line-height:100px;
	text-align:center;
	border-right:1px dotted;
	border-right-color:#999;
	/* border-top: 1px dashed #999; */
	border-bottom:1px dashed #999; 
}
.userImage{
	margin-top:10px;
	width:130px;
	height:90px;
	text-align:center;
}
.userName{
	height:20px;
	line-height:20px;
	
}
.floorContent{
	float:left;
	width:520px;
	height: 150px;	
}
#page_content {
	/* background-color: #CFC; */
	/* background:url(../images/sky.jpg); */ 
	width: 650px;	
	height: 40px;
	line-height:40px;
	text-align:center;
	border-bottom:1px dashed #66F; 
}
.huifu_content{
	margin-top:10px;
	height:110px;
	line-height:60px;
	padding-left:20px;
	
}
.huifu_date{
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
	border-top: 1px dashed #66F;
	border-bottom:1px dashed #66F; 
}


.ad_float_left,.ad_float_right{
 	float:right;position:fixed;top:540px;z-index:300;
 }
* html .ad_float_left,* html .ad_float_right{
	 position:absolute;
	 top:expression(offsetParent.scrollTop+350);
}
.ad_float_left{
	right:15px;
}
.ad_float_right{
	right:15px;top:480px;
}
#buttion{outline:0;} 
}