@CHARSET "UTF-8";
#room_top {
	background-color: #EAEFF3;
	height: 50px;
	border-width: 1px;
	border-bottom-style: solid;
	padding_top:30px;
}
#conetent {
	background-color: #FFC;
	height: 600px;
	
}
ul li{
	list-style:none;
	float:left;
	margin-left:40px;
	margin-top:20px;	
	
}
#room_top ul li a {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	display: block;
	background-color: #EAEFA5;
	text-decoration: none;
	border: 1px solid #FFF;
	
}
#room_top ul li a:hover{
	background:#FF9834;
	color:#FFF;
	border-right:3px solid #E87200;
}